<?xml version="1.0" encoding="UTF-8" standalone="no"?><clients>
	<client>
		<name>richer</name>
		<password>pwd_richer</password>
		<groups>
			<group>enseignant</group>
		</groups>
	</client>
	<client>
		<name>hao</name>
		<password>pwd_hao</password>
		<groups>
			<group>enseignant</group>
		</groups>
	</client>
	<client>
		<name>chhel</name>
		<password>pwd_chhel</password>
		<groups>
			<group>enseignant</group>
		</groups>
	</client>
	<client>
		<name>raphael</name>
		<password>pwd_raphael</password>
		<groups>
			<group>etudiant</group>
		</groups>
	</client>
	<client>
		<name>thibault</name>
		<password>pwd_thibault</password>
		<groups>
			<group>etudiant</group>
		</groups>
	</client>
	<client>
		<name>dorian</name>
		<password>pwd_dorian</password>
		<groups>
			<group>etudiant</group>
		</groups>
	</client>
	<client>
		<name>mickael</name>
		<password>pwd_mickael</password>
		<groups>
			<group>etudiant</group>
		</groups>
	</client>
</clients>
